:root {
    --primary: #f9f4ee; /* cream sangat lembut */
    --bg: #ffffff;      /* putih bersih */
    --text-color: #3a3a3a; /* abu gelap untuk teks agar nyaman dibaca */
    --border-color: #e6dfd6; /* cream muda untuk border */
    --button-hover: #f0e8dc; /* hover button cream lembut */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--text-color);
    min-height: 2000px;
}

/* Search Form */
.search-form {
    display: flex;
}

.search-form input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    background-color: #fff;
    color: var(--text-color);
}

.search-form button {
    background-color: var(--primary);
    color: var(--text-color);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: var(--button-hover);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space

/* Mobile Phone */
@media (max-width: 450) {
    html {
        font-size: 55%;
    }
}
